.h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
}

.featured-recipes {
  height: 50px;
}

.card-title {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  float: center
}

.carousel-control-prev{
  width: 10%;
  filter: invert(100%);
}

.carousel-control-next{
  width: 10%;
  filter: invert(100%);
}
