header {
    background-color: #dc0119;
    height: 10vh;
}

.header-link {
    display: inline-block; 
}

.header-right {
    float: right;
}

.header-link img {
    height: 10vh;
    display: inline-block;
}

.header-link h1 {
    float: right;
    color: white;
    position: relative;
    top: 2.5vh;
    font-family: "Lucida Console", "Courier New", monospace;
}

