.recipes-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.recipes-card:hover {
    box-shadow: 5px 5px 25px #e1d5d5;
}

.imgContainer {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.imgContainer .card-img-top {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.recipes-card:hover .card-img-top {
    transform: scale(1.1);
}

.recipes-card:hover .card-body {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: black;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: white;
}

.card-text {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: white;
}

.save-recipe {
    width: 3vh;
    float: right;
}

.save-recipe:hover {
    content: url('/src/images/bookmark-heart-fill.svg');
}

.row {
    margin-right: 0;
    margin-left: 0;
}